apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: gitsign
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/securesign-tenant/gitsign/gitsign@sha256:7619655b629c99b063e8dbdc6907f037103d4ef3241e9d072d952e71141e1276
        name: container-image
        resources: {}
status: {}
