apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: gitsign
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: gitsign
    app.kubernetes.io/part-of: gitsign
  name: gitsign
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app.kubernetes.io/instance: gitsign
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app.kubernetes.io/instance: gitsign
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/securesign-tenant/gitsign/gitsign@sha256:042978fcddfa3892181853a4411dff2e5fd5a26e1db55644621b11a97e7523e6
        imagePullPolicy: Always
        name: container-image
        ports:
        - containerPort: 8080
        resources:
          requests:
            cpu: 10m
            memory: 256Mi
status: {}
